# .gitignore
__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.log
*.sql
*.sqlite

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
*.swp
*.swo
*.swn
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.log
*.sql
*.sqlite

# Poetry
/poetry.lock

# Github dependencies
/deps

# Environment variables
.envrc

